
@{
    ViewData["Title"] = "CartShoppingEmpty";
    Layout = "~/Views/Shared/_CustomerwithoutSlideLayout.cshtml";
}

<h1>CartShoppingEmpty</h1>
<i class="fa fa-cart-plus "></i>
 <a  asp-controller="Customer" asp-action="Index" class="btn btn-outline-dark">Staring Shopping</a>

