@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
        <!-- Breadcrumbs-->

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item ">Categories</li>
            <li class="breadcrumb-item active">Add New Category</li>


        </ol>
        <!-- DataTables Example -->
      <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Add New Category
                
            </div>
            <div class="card-body">
                @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                     @*<input hidden asp-for="Id" class="form-control">*@
                   <div class="form-group">
                    <label class="control-label">Category Name</label>
                    
                    @Html.TextBoxFor(category => category.Name, new { @class = "form-control", placeholder = "Enter category Name", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(category => category.Name, "", new { @class = "text-danger" })
                   </div>

                 <a onclick="window.history.back();" class="btn btn-danger" >Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            }
       </div>
      </div>


